@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Trip>
@{
    ViewData["Title"] = "All Trips";
}


<table class="table">
    <tr>        
        <th>
            <a asp-action="TripSort" asp-route-sortOrder="@ViewBag.TripSort">
                Trip Id
            </a>
        </th>
        <th>
            <a asp-action="TripSort" asp-route-sortOrder="@ViewBag.CompanySort">
                Company Id
            </a>
        </th>
        <th>
            <a asp-action="TripSort" asp-route-sortOrder="@ViewBag.PlaneSort">
                Plane
            </a>
        </th>
        <th>
            <a asp-action="TripSort" asp-route-sortOrder="@ViewBag.TownFromSort">
                Town From
            </a>
        </th>
        <th>
            <a asp-action="TripSort" asp-route-sortOrder="@ViewBag.TownToSort">
                Town To
            </a>
        </th>
    </tr>
    @foreach (Trip u in Model)
    {
        <tr><td>@u.TripId</td><td>@u.Company?.CompanyName</td><td>@u.Plane</td><td>@u.TownFrom</td><td>@u.TownTo</td></tr>
    }
</table>
