@model IEnumerable<Diplom_Game.Steam_Aksana.Patrubeika.Models.Developer>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "List of Developers";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @if (User.IsInRole("admin"))
        {
            <a asp-controller="Admin" asp-action="CreateDeveloper">Create New</a> 
        }
</p>
<table class="table"> 
    <tr>
        <th>Id</th>
        <th>Name</th>        
        <th></th>
    </tr>
        @foreach (var item in Model)
        {
                <tr> 
                    <td>
                    @Html.DisplayFor(modelItem => item.DeveloperId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.DeveloperName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-Id="@item.DeveloperId">Detales</a>|
                        <a asp-controller="Admin" asp-action="EditDeveloper" asp-route-Id="@item.DeveloperId">Edit</a>|
                        <a asp-controller="Admin" asp-action="DeleteDeveloper" asp-route-Id="@item.DeveloperId">Delete</a>
                        
                    </td>
                    </tr>
        } 
</table>
</body>
