@model Diplom_Game.Steam_Aksana.Patrubeika.Models.Game
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{ 
    ViewBag.Title = "Game Details";
}
<h6>@ViewBag.Title</h6>
<hr />

<div class="card" style="width: 50rem;">
    <img src="@Model.Img" class="rounded mx-auto d-block" alt="@Model.GameName">
    <div class="card-body">
        <h5 class="card-title">@Model.GameName</h5>
        <p class="card-text">@Model.Summary</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Genre:</strong> @Model.Genre</li>
        <li class="list-group-item"><strong>Rewies:</strong> @Model.Reviews</li>
        <li class="list-group-item"><strong>Developer:</strong> @Model.Developer.DeveloperName</li>
        <li class="list-group-item"><strong>Relise:</strong> @Convert.ToDateTime(Model.ReleaseDate).ToLongDateString()</li>
        <li class="list-group-item"><strong>Price:</strong> @Model.Price $</li>
    </ul>
    <div class="card-body">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("admin"))
            {
                <a class="btn btn-danger" asp-controller="Games" asp-action="Delete" asp-route-Id="@Model.GameId">Delete</a> 
                <a class="btn btn-info" asp-controller="Admin" asp-action="EditGame" asp-route-Id="@Model.GameId">Edit</a>               
            }
            else
            {  
                <a class="btn btn-warning" asp-controller="Cart" asp-action="addToCart" asp-route-Id="@Model.GameId">Add to Cart</a>
            }
        }
        <a class="btn btn-link" asp-controller="Games" asp-action="Index" >Back to Games</a>

    </div>
</div>
