@model IEnumerable<Diplom_Game.Steam_Aksana.Patrubeika.Models.Game>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = "List of Users";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
        @if (User.IsInRole("admin"))
        {
               <a asp-controller="Admin" asp-action="CreateGame">Create New</a> 
        }
        
</p>

<div class="row mt-5 mb-2 ">
        @{
            foreach (var game in Model)
            {             
                <div class="col-lg-3">
                    <img class="img-thumbnail" src="@game.Img" alt="@game.GameName"></img>
                    <h2>@game.GameName</h2>
                    <p>Genre: @game.Genre</p>
                    <p>Reviews: @game.Reviews</p>
                    <p>Developer: @game.Developer.DeveloperName</p>
                    <p>Price: @game.Price $</p>
                    <p><a class="btn btn-warning" asp-controller="Games" asp-action="Details" asp-route-Id="@game.GameId">Details</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("admin"))
                            {
                                <a class="btn btn-info" asp-controller="Admin" asp-action="EditGame" asp-route-Id="@game.GameId">Edit</a>
                                <a class="btn btn-danger" asp-controller="Games" asp-action="Delete" asp-route-Id="@game.GameId">Delete</a>                                 
                            }
                            else
                            {  
                                <a class="btn btn-warning" asp-controller="Cart" asp-action="addToCart" asp-route-Id="@game.GameId">Add to Cart</a>
                            }
                        }
                    </p>
                </div>
            }
        }
</div>

</body>
